* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(img/wallpaper.jpg);
    background-repeat: no-repeat;
    color: rgb(216, 216, 216);
    background-size: cover;
}

.profile {
    text-align: center;
}

.foto {
    border: 2px solid rgb(216, 216, 216);
    border-radius: 50%;
    margin: 10px 10px;
    width: 130px;
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 20px;
}

.redes-social {
    margin: 5px 0;
}

.redes-social ul {
    justify-content: space-evenly;
    list-style: none;
    display: flex;
}

.redes-social img {
    width: 45px;
}

.links {
    text-align: center;
}

.links li {
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(161, 161, 161, 1) 100%);
    border: 2px solid rgb(216, 216, 216);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    list-style: none;
    padding: 7px;
    margin: 20px;
}

.links li:first-child {
    margin-top: 0px;
}

.links a {
    text-decoration: none;
    color: black;
}

.links li:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(353deg, rgba(255, 255, 255, 1) 0%, rgba(150, 150, 150, 1) 100%);
}

.footer {
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(161, 161, 161, 1) 100%);
    background: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    color: black;
    padding: 2px;
    bottom: 0;
    right: 0;
    left: 0;
}