* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/wallpaper.jpg);
    background-size: cover; 
    color: white;
}

.profile {
    text-align: center;
}

.foto {
    width: 130px;
    margin: 10px 10px;
    border-radius: 50%;
    border: 2px solid white;
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 20px;
}

.links {
    text-align: center;
}

.links li {
    margin: 20px;
    border: 2px solid white;
    padding: 7px;
    list-style: none;
    border-radius: 5px;
    background-color: white;
}