* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(216, 216, 216);
}

.profile {
    text-align: center;
}

.foto {
    width: 130px;
    margin: 10px 10px;
    border-radius: 50%;
    border: 2px solid rgb(216, 216, 216);
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 20px;
}

.links {
    text-align: center;
}

.links li {
    margin: 20px;
    border: 2px solid rgb(216, 216, 216);
    padding: 7px;
    list-style: none;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(161, 161, 161, 1) 100%);
}

.links a {
    text-decoration: none;
    color: black;
}

.links li:hover {
    background: rgb(255,255,255);
background: linear-gradient(353deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 100%);
}

.footer {
    color: black;
    text-align: center;
    padding: 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(171deg, rgba(255, 255, 255, 1) 0%, rgba(161, 161, 161, 1) 100%);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}